html,
body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    max-width: 100%;
    display: block;
}

input[type="text"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
textarea:-webkit-autofill {
    outline: none;
    transition: background-color 9999s;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-datalist-button {
    display: none;
    outline: none;
    box-shadow: none;
}

datalist option:focus,
datalist option:hover,
datalist option:active {
    outline: none;
    background: transparent;
    color: #333;
}

input[list]::-webkit-input-placeholder {
    color: #C4C4C4;
}

