.product-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background: #F4F4F4;
    font-family: 'Inika', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.product-create__title {
    width: 50%;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Inika', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color: #333;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.product-create__form {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    background: #F4F4F4;
    border-radius: 8px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}

.form-label {
    display: block;
    margin-bottom: 0px;
    font-size: 14px;
}

.form-note {
    font-size: 14px;
    color: #E60033;
    margin-left: 6px;
}

.form-required {
    background-color: #E60033;
    color: #fff;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 6px;
}

.form-file {
    border: none;
    margin-bottom: 16px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-size: 14px;
    background: #FFFFFF;
    margin-bottom: 4px;
}

.form-textarea {
    resize: none;
}

.seasons-group {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.season-option {
    display: flex;
    align-items: center;
    gap: 6px;
}

.season-option input[type="checkbox"] {
    display: none;
}

.season-option span {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.season-option span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 50%;
    box-sizing: border-box;
}

.season-option input[type="checkbox"]:checked+span:after {
    content: '✔';
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-58%);
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

/* チェック時の丸背景黒 */
.season-option input[type="checkbox"]:checked+span:before {
    background-color: #333;
    border-color: #333;
}

.form__error {
    color: #FF4D4D;
    font-size: 14px;
    margin-top: 4px;
}

.product-create__file-label {
    display: inline-block;
    margin: 16px auto;
    padding: 6px 16px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 14px;
}

.product-create__file-label:hover {
    opacity: 0.7;
}

.product-create__file {
    display: none;
}

.product-create__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.button__back {
    background-color: #e0e0e0;
    color: #333;
}

.button__save {
    background-color: #ffd700;
    color: #333;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
    border-color: #C4C4C4;
}

.search-form_input::placeholder {
    color: #FFFFFF;
}

.image-preview-wrapper {
    width: 300px;
    height: 220px;
    text-align: left;
    margin: 5px 0;
    border-radius: 10px;
    overflow: hidden;
}

#preview-image {
    max-width: 100%;
    border-radius: 8px;
    display: none;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}