/* Document
* ========================================================================== */

/**
* Add border box sizing in all browsers (opinionated).
*/

*,
::before,
::after {
    box-sizing: border-box;
}

/**
* 1. Add text decoration inheritance in all browsers (opinionated).
* 2. Add vertical alignment inheritance in all browsers (opinionated).
*/

::before,
::after {
    vertical-align: inherit;
    /* 2 */
    text-decoration: inherit;
    /* 1 */
}

/**
* 1. Use the default cursor in all browsers (opinionated).
* 2. Change the line height in all browsers (opinionated).
* 3. Use a 4-space tab width in all browsers (opinionated).
* 4. Remove the grey highlight on links in iOS (opinionated).
* 5. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
* 6. Breaks words to prevent overflow in all browsers (opinionated).
*/

html {
    word-break: break-word;
    /* 6 */
    -moz-tab-size: 4;
    /* 3 */
    tab-size: 4;
    /* 3 */
    line-height: 1.5;
    /* 2 */
    cursor: default;
    /* 1 */

    -webkit-tap-highlight-color: transparent
        /* 4 */
    ;
    -ms-text-size-adjust: 100%;
    /* 5 */
    -webkit-text-size-adjust: 100%;
    /* 5 */
}

/* Sections
* ========================================================================== */

/**
* Remove the margin in all browsers (opinionated).
*/

body {
    margin: 0;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Edge, Firefox, and Safari.
*/

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

/* Grouping content
* ========================================================================== */

/**
* Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
*/

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
    margin: 0;
}

/**
* Remove the margin on nested lists in Edge 18- and IE.
*/

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
}

/**
* 1. Add the correct sizing in Firefox.
* 2. Show the overflow in Edge 18- and IE.
*/

hr {
    overflow: visible;
    /* 2 */
    height: 0;
    /* 1 */
}

/**
* Add the correct display in IE.
*/

main {
    display: block;
}

/**
* Remove the list style on navigation lists in all browsers (opinionated).
*/

nav ol,
nav ul {
    padding: 0;
    list-style: none;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
    font-size: 1em;
    /* 2 */
    font-family: monospace, monospace;
    /* 1 */
}

/* Text-level semantics
* ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
    background-color: transparent;
}

/**
* Add the correct text decoration in Edge 18-, IE, and Safari.
*/

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
    font-size: 1em;
    /* 2 */
    font-family: monospace, monospace;
    /* 1 */
}

/**
* Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/* Embedded content
* ========================================================================== */

/*
* Change the alignment on media elements in all browsers (opinionated).
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/**
* Add the correct display in IE 9-.
*/

audio,
video {
    display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
* Remove the border on iframes in all browsers (opinionated).
*/

iframe {
    border-style: none;
}

/**
* Remove the border on images within links in IE 10-.
*/

img {
    border-style: none;
}